STORE_CORS=http://localhost:8000,https://skrepay.com,https://www.skrepay.com,https://strong-cascaron-2e0511.netlify.app,https://luigigame.com,https://www.luigigame.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://skrepay.com,https://strong-cascaron-2e0511.netlify.app,https://luigi-games-api1.onrender.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://skrepay.com,https://www.skrepay.com,https://strong-cascaron-2e0511.netlify.app,https://luigigame.com,https://www.luigigame.com,https://luigi-games-api1.onrender.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-backend
